@import url(https://fonts.googleapis.com/css2?family=Fira + Sans:wght@400;500;700&display=swap);

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0;
  outline: none !important;
}

body {
  font-family: Fira Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2e2e2e;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 50px 0;
}

li,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
li,
ul {
  margin: 0;
  padding: 0;
}

input {
  outline: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input::-webkit-input-placeholder {
  color: #2e2e2e;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:-moz-placeholder,
input::-moz-placeholder {
  color: #2e2e2e;
  opacity: 1;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:-ms-input-placeholder {
  color: #2e2e2e;
  opacity: 1;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:focus::-webkit-input-placeholder {
  color: #2e2e2e;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:focus:-moz-placeholder,
input:focus::-moz-placeholder {
  color: #2e2e2e;
  opacity: 0;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:focus:-ms-input-placeholder {
  color: #2e2e2e;
  opacity: 0;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input[type="password"]::-ms-reveal,
input[type="text"]::-ms-clear {
  display: none;
}

.accent {
  color: #7bbb4c !important;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a1deff), to(#63bae8));
  background: -o-linear-gradient(top, #a1deff 0, #63bae8 100%);
  background: linear-gradient(180deg, #a1deff, #63bae8);
  border: 1px solid #aee3ff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 3px 0 #0071ad, 0 19px 20px -11px rgba(99, 186, 232, 0.7);
  box-shadow: 0 3px 0 #0071ad, 0 19px 20px -11px rgba(99, 186, 232, 0.7);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  margin: 0 auto;
  transition: all 0.3s linear;
}

.btn:hover {
  -webkit-box-shadow: 0 2px 0 #0071ad, 0 10px 10px -11px rgba(99, 186, 232, 0.7);
  box-shadow: 0 2px 0 #0071ad, 0 10px 10px -11px rgba(99, 186, 232, 0.7);
}

.btn.inactive {
  background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#ababab));
  background: -o-linear-gradient(top, #d3d3d3 0, #ababab 100%);
  background: linear-gradient(180deg, #d3d3d3, #ababab);
  border: 1px solid #dadada;
  -webkit-box-shadow: 0 3px 0 #aaa, 0 19px 20px -11px #dadada;
  box-shadow: 0 3px 0 #aaa, 0 19px 20px -11px #dadada;
  cursor: not-allowed;
}

.btn_next {
  padding-left: 49px;
  padding-right: 48px;
}

.btn_next:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 25px;
  height: 16px;
  margin-left: 10px;
  background: url(/img/icon-arr-to-right.svg) 50% no-repeat;
}

.btn_send {
  width: 100%;
  max-width: 288px;
  text-align: center;
  font-size: 16px;
}

.steps {
  width: 90%;
  max-width: 319px;
  position: relative;
  margin: 0 auto 52px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.steps.invisible {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
}

.steps.hidden {
  display: none;
}

.steps__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 2px solid #63bae8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 33px;
  margin-bottom: 25px;
  padding: 0 10px;
}

.steps__bar span {
  position: relative;
  width: 126px;
  height: 20px;
  background: #ededed;
  border-radius: 999px;
  overflow: hidden;
}

.steps__bar span:after,
.steps__bar span:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
  height: 100%;
}

.steps__bar span:before {
  width: 0;
  z-index: 1;
  background-color: #63bae8;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.steps__bar span:after {
  width: 100%;
  z-index: 2;
  background: -o-linear-gradient(182.84deg, #63bae8 7.68%, #9eddff 53.18%, #63bae8 90.4%);
  background: linear-gradient(267.16deg, #63bae8 7.68%, #9eddff 53.18%, #63bae8 90.4%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.steps__bar span.active:after {
  -webkit-animation: steps-bar 3s linear 0.4s infinite normal forwards;
  animation: steps-bar 3s linear 0.4s infinite normal forwards;
}

.steps__bar span.passed:before {
  width: 100%;
}

.steps__question {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #2e2e2e;
}

.steps__question #stepValue {
  color: #63bae8;
}

@-webkit-keyframes steps-bar {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  33% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes steps-bar {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  33% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 90%;
  padding-bottom: 70px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.cards.invisible {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
}

.cards.hidden {
  display: none;
}

.cards__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  margin-bottom: 15px;
}

.cards__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 40px;
}

.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.cards__list li {
  display: block;
  width: 246px;
  height: 235px;
  background: #fff;
  border: 1px solid #63bae8;
  -webkit-box-shadow: 0 25px 30px -20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 30px -20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.cards__list li:hover {
  -webkit-box-shadow: 0 0 0 -20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 -20px rgba(0, 0, 0, 0.15);
}

.cards__list li .cards__check {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.cards__pic {
  height: 154px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards__check,
.cards__pic {
  display: block;
  position: relative;
}

.cards__check {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #fff;
  background: url(/img/icon-unselect.svg) 50% no-repeat;
}

.cards__check:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/icon-select.svg) 50% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.cards__check.active:after {
  opacity: 1;
}

.cards__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 5px 10px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.cards__question {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
  max-width: 522px;
}

.cards__question .cards__check {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cards__control {
  width: 100%;
  height: 70px;
  background: #fff;
  border: 1px solid #63bae8;
  -webkit-box-shadow: 0 25px 30px -20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 30px -20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 17px 16px 16px 50px;
  font-size: 18px;
  line-height: 22px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 90%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding-bottom: 70px;
}

.form.invisible {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
}

.form.hidden {
  display: none;
}

.form__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}

.form__subtitle,
.form__title {
  line-height: 125%;
  text-align: center;
}

.form__subtitle {
  width: 100%;
  max-width: 540px;
  font-weight: 500;
  font-size: 25px;
  margin-top: 42px;
  margin-bottom: 43px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form__subtitle.invisible {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
}

.form__subtitle.hidden {
  display: none;
}

.form form {
  width: 100%;
  max-width: 288px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form form.invisible {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
}

.form form.hidden {
  display: none;
}

.form__control {
  width: 100%;
  max-width: 288px;
  height: 50px;
  background: #fff;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  padding: 15px 25px;
  margin-bottom: 18px;
}

.form__control::-webkit-input-placeholder {
  color: #d3d3d3;
}

.form__control:-moz-placeholder,
.form__control::-moz-placeholder {
  color: #d3d3d3;
}

.form__control:-ms-input-placeholder {
  color: #d3d3d3;
}

.form__control:focus::-webkit-input-placeholder {
  color: #d3d3d3;
}

.form__control:focus:-moz-placeholder,
.form__control:focus::-moz-placeholder {
  color: #d3d3d3;
}

.form__control:focus:-ms-input-placeholder {
  color: #d3d3d3;
}

.progress {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
}

.progress .value:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff url(/img/icon-check.svg) 50% no-repeat;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.progress .value.checked:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.progress .bar {
  fill: none;
  stroke-width: 10px;
  stroke: #7bbb4c;
  stroke-linecap: round;
  stroke-dasharray: 282.6;
  stroke-dashoffset: 282.6;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.progress .bar.animation {
  -webkit-animation: progress-bar 3s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  animation: progress-bar 3s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@-webkit-keyframes progress-bar {
  0% {
    stroke-dashoffset: 282.6;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes progress-bar {
  0% {
    stroke-dashoffset: 282.6;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.banner {
  width: 90%;
  max-width: 1092px;
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0 7px 33px rgba(0, 0, 0, 0.25);
  box-shadow: 0 7px 33px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner.animation {
  -webkit-animation: banner 1.5s linear 0s infinite normal forwards;
  animation: banner 1.5s linear 0s infinite normal forwards;
}

.banner.invisible {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
}

.banner.hidden {
  display: none;
}

.banner__body {
  position: relative;
  width: 100%;
  background: #63bae8;
  border-radius: 10px;
  padding: 50px 10px 20px;
  text-align: center;
}

.banner__pic {
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.banner__desc {
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes banner {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  75% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes banner {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  75% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.modal {
  width: 100%;
  height: 100%;
}

.modal,
.modal__dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__dialog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  position: relative;
  margin: 50px auto;
  text-align: center;
  padding: 30px;
  font-weight: 700;
  font-size: 24px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-color: #63bae8;
  border-radius: 10px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.modal.invisible .modal__dialog {
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  opacity: 0;
}

.modal.hidden .modal__dialog {
  display: none;
}

.modal__txt {
  display: block;
  margin-bottom: 30px;
}

.modal__close {
  display: block;
  padding: 0 30px;
}

@media (min-width: 576px) {
  .btn {
    margin: initial;
  }

  .steps__bar {
    padding: 0 20px;
  }

  .cards__list,
  .steps__bar {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .cards__list {
    max-width: 522px;
  }

  .cards__list li {
    margin-left: 0;
    margin-right: 0;
  }

  .cards__question .cards__check {
    left: 20px;
  }

  .cards__control {
    padding-left: 80px;
  }
}

@media (min-width: 768px) {
  .banner {
    padding: 55px 92px 60px;
  }

  .banner__body {
    padding: 18px 74px 18px 122px;
    text-align: left;
  }

  .banner__pic {
    top: calc(50% + 5px);
    left: 25px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .banner__desc {
    font-size: 26px;
  }
}