*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important;
}

html {
    -webkit-text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

input[type="text"]::-ms-clear {
    display: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}

body, html {
    min-height: 100vh;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #334466;
    background-color: #d4d4d4;
}

#header,
#footer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

#main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    overflow: hidden;
    height: 100%;
    padding: 10px;
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    z-index: -1;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button.hide {
    opacity: 0 !important;
    max-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.clearfix {
    display: block;
    width: 100%;
    height: 0;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: calc(50% - 20px);
    height: 100%;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 40px;
    max-height: 40px;
    color: #ffffff;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 15px;
    font-size: 16px;
    text-decoration: none;
    padding-top: 2px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.btn_lite {
    background-color: #2288ff;
}

.btn_dark {
    background-color: #334466;
}

.btn:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.buttons-list_note-list {
    margin-top: 40px;
}

.button-wrapper {
    width: calc(50% - 10px);
}

.form {
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    text-align: left;
    color: #777777;
    background-color: transparent;
    border: none;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
}

textarea::-webkit-input-placeholder {
    color: #bbbbbb;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

textarea::-moz-placeholder {
    color: #bbbbbb;
    opacity: 1;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

textarea:-moz-placeholder {
    color: #bbbbbb;
    opacity: 1;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

textarea:-ms-input-placeholder {
    color: #bbbbbb;
    opacity: 1;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

textarea:focus::-webkit-input-placeholder {
    color: #bbbbbb;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

textarea:focus::-moz-placeholder {
    color: #bbbbbb;
    opacity: 0;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

textarea:focus:-moz-placeholder {
    color: #bbbbbb;
    opacity: 0;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

textarea:focus:-ms-input-placeholder {
    color: #bbbbbb;
    opacity: 0;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

*:disabled {
    cursor: not-allowed !important;
    opacity: 0.7 !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.list {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.list::-webkit-scrollbar {
    width: 20px;
}

.list::-webkit-scrollbar-track {
    background-color: #d4d4d4;
}

.list::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
    border: 7px solid #d4d4d4;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list__item {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 300px;
    background-color: #ffffff;
    padding: 14px 20px 15px 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-box-shadow: inset 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
    overflow: hidden;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.list__item.hide {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.list__item.collapsed {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.list__item:hover {
    background-color: #f1f1f1;
}

.list__item_selected {
    -webkit-box-shadow: inset 0 0 0 2px #2288ff;
    box-shadow: inset 0 0 0 2px #2288ff;
}

.list__caption {
    position: relative;
    width: 100%;
    height: auto;
    color: #334466;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.6px;
    margin-bottom: 14px;
    line-height: 1.2;
    padding-right: 30px;
}

@media (min-width: 768px) {
    .list__caption {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .list__caption {
        font-size: 26px;
    }
}

@media (min-width: 1140px) {
    .list__caption {
        font-size: 30px;
    }
}

.list__delete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 35px;
    height: 35px;
    top: -3px;
    right: -10px;
    z-index: 1;
    border-radius: 7px;
    background-color: transparent;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.list__delete:hover {
    background-color: #ffffff;
}

.list__delete img {
    width: 20px;
    height: auto;
}

.list__datetime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 19px;
    color: #777777;
}

.list__datetime img {
    width: 19px;
    height: auto;
    margin-right: 8px;
}

.item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
}

.item__form {
    height: 100%;
    padding: 15px 0 15px 15px;
    background: #f7f7f7;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.item__description::-webkit-scrollbar {
    width: 20px;
}

.item__description::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    border-radius: 20px;
}

.item__description::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 10px;
    border: 7px solid #f7f7f7;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.item__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-top: 20px;
    height: auto;
}

.item__footer button {
    max-width: 150px;
}

.item__datetime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 19px;
    color: #777777;
}

.item__datetime img {
    width: 19px;
    height: auto;
    margin-right: 8px;
}
