@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=cyrillic');
body {
	font: 16px/1.4 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 40px;
}

.button {
	display: inline-block;
	cursor: pointer;
	border-radius: 999px;
	font-size: 0.9em;
}

.parameter-list {
	display: block;
	margin: 50px auto;
	padding: 0;
	width: 100%;
	max-width: 500px;
}

.parameter-item {
	display: flex;
	padding: 1.4em 1em 1.2em;
}

.parameter-item:nth-child(odd) {
	background-color: #f7f7f7;
}

.parameter-item__description {
	padding-top: 7px;
	min-width: 170px;
	font-weight: 600;
	font-size: 1em;
	line-height: inherit;
	margin: 0;
}

.button_action {
	background-color: blue;
	border: 3px solid blue;
	color: #fff;
	font-weight: 600;
	padding: 7px 20px 7px;
	transition: background-color .3s, color .3s;
}

.button_action:hover {
	background-color: transparent;
	color: black;
}

.parameter-item__value {
	padding-top: .3em;
	padding-left: 3px;
}

.parameter-item__value .button_close.visible {
	display: inline-block;
}

.button_close {
	position: relative;
	white-space: nowrap;
    overflow: hidden;
    width: 26px;
	height: 26px;
	top: 6px;
	margin-top: -5px;
	margin-left: 3px;
	color: transparent;
	border: none;
	transition: transform .3s;
}

.button_close::before,
.button_close::after  {
	content: '';
	display: block;
	width: 13px;
	height: 2px;
	background-color: blue;
	position: absolute;
	top: 50%;
	left: 50%;
}

.button_close::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.button_close::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.button_close:hover {
	transform: rotate(90deg);
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: opacity .2s;
	overflow-x: hidden;
    overflow-y: auto;
}

.modal.visible {
	opacity: 1;
}

.modal-open {
    overflow: hidden;
}

.modal__content {
	display: block;
	position: relative;
	box-sizing: border-box;
	margin: 50px auto;
	padding: 1.5em 1.3em;
	width: 100%;
	max-width: 600px;
	background-color: #fff;
	transform: translateY(-15%);
	transition: transform .3s;
}

.modal.visible .modal__content {
	transform: translateY(0);
}

.modal__title {
	margin: 0;
}

.modal__content .button_close {
	position: absolute;
	top: 1.3em;
	right: 1.3em;
}

.modal__list-container {
	margin: 1em 0 1.4em;
}

.modal__list {
	width: calc(100% + 1em);
	border-spacing: 0;
	margin: 0 -.5em;
}

.modal__list tr {
	cursor: pointer;
	background-color: #fff;
	font-size: 0.9em;
	transition: background-color .3s;
}

.modal__list tr:hover {
	background-color: #f1f1f1;
}

.modal__list .selected {
	background-color: #f1f1f1;
}

.modal__list td {
	padding: 5px;
}

.modal__list td:first-child {
	padding-left: 10px;
}

.modal__list td:last-child {
	padding-right: 10px;
}

.modal__button-container {
	display: flex;
	justify-content: flex-end;
}

.modal__button-container .button_action {
	margin-left: 15px;
	min-width: 110px;
}

.ask-modal {
	display: block;
	position: relative;
	box-sizing: border-box;
	margin: 50px auto;
	padding: 1.5em 1.3em;
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	transform: translateY(-15%);
	transition: transform .3s;
}

.modal.visible .ask-modal {
	transform: translateY(0);
}

.ask-modal p {
	text-align: center;
}

.ask-modal .btn-container {
	display: flex;
	justify-content: center;
}

.ask-modal button {
	margin: 0 10px;
}

@media (max-width: 500px) {
	body {
		font-size: 14px;
	}

	.parameter-item__description {
		min-width: 135px;
	}
}