.our-projects {
  position: relative;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm91ci1wcm9qZWN0cy9zdHlsZS5zY3NzIiwib3VyLXByb2plY3RzL3N0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQTtFQUNJLGtCQUFBO0FDRkoiLCJmaWxlIjoib3VyLXByb2plY3RzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgJy4uLy4uL3Njc3Mvc2Fzcy12YXJpYWJsZXMnO1xyXG5AaW1wb3J0ICcuLi8uLi9zY3NzL21peGlucyc7XHJcblxyXG4ub3VyLXByb2plY3RzIHtcclxuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxufVxyXG4iLCIub3VyLXByb2plY3RzIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xufSJdfQ== */
